* {
  box-sizing: border-box;
}

body {
  cursor:default;
  margin:0;
  min-height: 100vh;
  height: 100vh;
  width:100vw;
  /* background-size: 100% 100%; */
  font-family:monospace;
  /* overflow-x: scroll; */
  /* background: linear-gradient(80deg, #000000 0%, #172efe 32%, #742ce8 20%); */
  /* background: linear-gradient(grey 0%, white 10%, black 15%); */
  /* background-color:rgb(129, 130, 131); */
  background-image: url('img/Stranger_Than_Paradise_1984_4.jpg');
  background-size: 120%;
  /* background-attachment: scroll; */
  background-size: cover;
  background-position: 25% 75%;
  overflow: hidden;
  /* background-repeat:no-repeat; */
}

hr.dot-line{
  border-top:1px dotted black;
}

h1{
  position:sticky;
  top:0%;
  font-size: 16px;
  z-index: 999;

}

.hh1{
  padding:5px 2px 6px 0;
  margin:0;
  /* background-color: white; */
  width:48%;

}

h2{
  padding:0;
  margin:0;
  position:relative;
  bottom:0%;
  font-size: 16px;
}

.hh2{
  padding:0;
  margin:0;
  position: absolute;
  bottom:0%;
  /* background-color: white; */
}


.photo{
  display: flex;
  flex-grow: row wrap;
  /* background-color:white; */
}

.Jarmusch{
  width:100px;
  margin-right: 10px;
}


.container{
  position: absolute;
  display:flex;
  flex-direction:row;
  width:100%;
  height:100%;
  /* justify-content: center; */
  /* align-items: center; */
  /* left:-5%; */
}

.middle{
  padding:20px;
  /* width:%; */
  height:100%;
  /* display:flex;
  justify-content: center; */
  flex-direction:column;
  /* align-items: center;
  align-content: center; */
  /* background-color: red; */

}

.article{
  /* position: relative; */
  position: absolute;
  /* top:9%; */
  width:30%;
  height:95%;
  /* background-color: white; */
  border: 1.5px dotted black;
  padding:10px 20px;
  overflow-y: scroll;
  right:3%;
  /* right:0%; */
  /* padding:10px */
  /* margin: 10px; */
  transform: rotate(7deg);

}

.time{
  width:100%;
  height:30px;
  padding:0;
  border: 1.3px dotted black;
  background-color:rgb(59, 59, 59);
  position: relative;
  top:10%;
  display:none;
}

.time-small{
  font-size: 8px;
  padding: 0;
  position: absolute;
  /* background-color: red; */
  /* top:3%; */
  right:5%;
  color:white;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.article::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.article {
    -ms-overflow-style: none;
}

.question{
  /* color:red; */
  /* text-decoration: underline; */

}

.ar p{
  /* padding-left: 10px; */
}

.highlight{
  /* background-color: rgb(182, 182, 182); */
}

.highlight:hover{
  /* cursor:url('http://www.rw-designer.com/cursor-view/17068.png') 2 2, auto; */
  background-color: rgb(213, 214, 214);
  /* cursor:grabbing; */
}

.box-2{
  display: flex;
}

.essential{

}

.dott{
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
