

html{
  /* background: pink; */
  background: lightgreen;
  font-family:arial;
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
  background-color: lightblue;
  color:black;
}

ul{
  list-style-type:none;
}

.mantou{
  margin: 0;
  padding:0;
  position:absolute;
  top:-3%;
  left:10%;
}

.all{
  font-size: 18px;
  /* background-color: pink; */
  /* border: 1px dotted red; */
  padding: 3px 5px;
  color: white;
  position:absolute;
  max-width: 200;
  cursor:pointer;
  letter-spacing: 0.4px;
}



.all:hover{
  /* border: 1px dashed red; */
  color: black;

}

.about{
  /* top:17%; */
  /* left:31.3%; */
  top:13%;
  left:28%;
}


.article{
  /* top:16%;
  left:57%; */

  top:12%;
  left:58%;
}

.secret{
  /* top:34%;
  left:75%; */

  top:33%;
  left:79%;
}

.screensaver{
  /* top:62%; */
  /* left:64%; */

  top:67%;
  left:64%;
}

.final{
  /* top:68%;
  left:33%; */

  top:74%;
  left:31%;
}

.summerdiary{
  /* top:39%;
  left:9%; */

  top:39%;
  left:7%;
  /* border-radius: 100px / 80px;
  padding: 6px 10px; */
}

#cont{
  position:absolute;
  bottom:16%;
  right:15%;
  font-size: 20px;
  color: ;
  background-color:yellow;
  border-radius: 50%;
  width:400px;
  height:170px;
  text-align:center;
  justify-content:center;
  align-items: center;
  display:none;
  box-shadow: 10px 10px;
  -ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
  transform: matrix(1, 0.3, 0, 1, 0, 0); /* Standard syntax */
  border: 1px dotted red;
}

.web{
  position:relative;
  top:35%;
  display: flex;
  text-align:center;
  justify-content:center;
  align-items: center;
}

#article{
  color: black;
  font-size: 18px;
  position:absolute;
  background-color: orange;
  top:3%;
  left: 54%;
  border: 1px dotted red;
  /*  */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /*  */
  justify-content:center;
  align-items: center;
  vertical-align: middle;
  box-shadow: 10px 10px;
  display: none;
}

.web-2{
  position: absolute;
  height: 200px;
  width: 200px;
  /* display: flex; */
  top:25%;
  line-height: 25px;
}
