*{
  box-sizing: border-box;
}

body{
  margin: 0;

}

.container{
  height:100vh;
  /* width:100vw; */
  background-color: rgb(62, 62, 105);
  display: flex;
  flex-direction: column;
}

.header{
  background-color: rgb(143, 98, 171);
  height:10%;
}

.footer{
  background-color: rgb(143, 98, 171);
  height:10%;
}

.middle{
  background-color: rgb(56, 194, 89);
  height:80%;
  display: flex;
  font-size:60px;
}

.sidebar{
  background-color: rgb(60, 142, 227);
  width:10%;
}

.content{
  background-color: rgb(202, 204, 82);
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 4em;
  color:rgb(237, 138, 23);
}

.box{
  background: rgb(59, 195, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box{
  background: rgb(32, 76, 221);
  padding:20px;
  margin:20px;
  max-width:300px;
  max-height:100px;
  overflow-x: scroll;
  /* overflow-y:visible; */
}

@media screen and (max-width: 800px) {
  .middle{
    flex-direction: column;
  }
  .content{
    width:100%;
    height:80%;
    /* max-width:60%; */
    font-size: 2em;
  }
  .sidebar{
    width:100%;
    height:10%;
  }
}


/* responsive-2 */
.container-2{
  height:100vh;
  width:100vw;
  background-color: rgb(203, 203, 203);
  padding:10px;
}

.one{
  display: none;
}

@media screen and (min-width:700px) and (min-height:534px) {
  .one{
    display:block;
    width:700px;
    height:534;
    /* height:100%; */
  }


  }
}
