*{
  box-sizing: border-box;
}

body{
  margin:0;
  /* -webkit-filter: blur(5px); */
}

#canvas{
  background-image: url('1-1.jpg');
}

.container{
  /* display: none; */
  /* position:  */
  /* -webkit-filter: blur(2px); */
  position:absolute;
  width:100vw;
  height:100vh;
  display:flex;
  flex-flow:column wrap;
  margin:0;
  padding:0;
  z-index: -1;
}


  .first{
    margin:0;
    padding:0;
    width:100%;
    height:20%;
    display:flex;
    flex-flow: row nowrap;
    background-color: red;
    /* justify-content:space-around; */
  }

  .second{
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    height:18%;
    display:flex;
    flex-flow: row nowrap;
    /* justify-content:space-around; */
  }

  .third{
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    height:24%;
    display:flex;
    flex-flow: row nowrap;
  }

  .forth{
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    height:18%;
    display:flex;
    flex-flow: row nowrap;
  }

  .fifth{
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    height:20%;
    display:flex;
    flex-flow: row nowrap;
  }

  .block {
    background-color: red;
    /* border:1px solid red; */
    /* width:10%; */
    /* height:35%; */
    position:relative;
    /* display: inline; */
    margin:0;
    padding:0;
    background: repeating-linear-gradient(180deg, #62cdfb, #6ed537, rgb(255, 255, 255), #62cdfb);
    /* background-size: 400% 400%; */
    /* background: linear-gradient(to right, #000000, #ffffff); */
    background-size: 100% 1000%;
    -webkit-animation: water 1000s linear infinite;
    /* -moz-animation: AnimationName 1s ease infinite;
    -o-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite; */
}
@-webkit-keyframes water {
    0%{background-position:100% 1000%}
    100%{background-position:100% 100%}
    /* 100%{background-position:100% 400%} */
}

.p-5{
  width:5%;
  -webkit-animation: water 900s linear infinite;
}

.p-10{
  width:10%;
  -webkit-animation: water 900s linear infinite;
}

.p-15{
  width:15%;
  -webkit-animation: water 990s linear infinite;
}

.p-20{
  width:20%;
  -webkit-animation: water 990s linear infinite;

}

.p-25{
  width:25%;
  -webkit-animation: water 1050s linear infinite;
}

.p-30{
  width:30%;
  -webkit-animation: water 90s linear infinite;
}



.center-flex{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* z-index: 1; */
}

img{
  height:100%;
  /* margin:10px; */
  /* position: absolute; */
  /* z-index: 0; */
  /* position:fixed; */
  /* -webkit-filter: blur(1px); */
  /* opacity: 0.5; */
  /* box-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px grey; */
  /* top:1px; */
  -webkit-filter: blur(20px);
  transition: filter 1s ease-in-out;
}

img:hover{
    -webkit-filter: blur(0px);
    /* color: white; */
    box-shadow: 1px 1px 3px white, 0 0 25px white, 0 0 6px grey;
    /* opacity: 1; */

}

.tu{
  height:24%;
  /* background-color: rgb(255, 255, 255); */
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.tu:hover .time{
  display: block;
  opacity: 1;

}

.time{
  text-shadow: 1px 1px 2px white, 0 0 5px white, 5px 5px 10px rgb(39, 205, 249);
  font-family: 'Roboto Mono', monospace;
  opacity: 0;
  position: fixed;
  /* color:black; */
  color:white;
  font-size: 4.8em;
  top:0;
  left:0;
  margin:10px 25px;
  transition: .5s ease-in-out;
  transition-delay: .7s;
  /* display: none; */
}

/* 2 */

@medium screen
