*{
  box-sizing: border-box;
}

body{
  margin:0;
}

#canvas{
  background-image: url('1-1.jpg');
}

.container{
  /* position:absolute; */
  width:100vw;
  height:100vh;
  display:flex;
  flex-flow: column wrap;
  margin:0;
  padding:0;


}

.bg-img{
  /* width:100%; */
  height:100%;
  position: absolute;
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
  z-index: -100;
}

.idk{
  position:fixed;
  width:100%;
  height:100%;
  background-image: repeating-radial-gradient(rgb(45, 223, 111), rgb(88, 71, 194), rgb(147, 238, 203));
  /* opacity:1; */
  z-index: 99;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-color:rgb(128, 246, 34);
    transform:scale(1);
    /* opacity:0; */
  }
  50% {
    background-color: rgb(207, 86, 250);
    transform:scale(2);
    /* opacity:1; */
  }
  100% {
    background-color:rgb(128, 246, 34);
    transform:scale(1);
    /* opacity:0; */
  }
  }

  .first{
    margin:0;
    padding:0;
    width:100%;
    height:40%;
    display:flex;
    flex-flow: row wrap;
    /* justify-content:space-around; */
  }

  .block {
    /* border:1px solid red; */
    width:10%;
    height:100%;
    position:relative;
    display: inline-block;
    margin:0;
    padding:0;
    background: repeating-linear-gradient(180deg, rgb(79, 38, 238), #000000, rgb(255, 255, 255), rgb(79, 38, 238));
    /* background-size: 400% 400%; */
    /* background: linear-gradient(to right, #000000, #ffffff); */
    background-size: 100% 1000%;
    -webkit-animation: water 1000s linear infinite;
    /* -moz-animation: AnimationName 1s ease infinite;
    -o-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite; */
}
@-webkit-keyframes water {
    0%{background-position:100% 1000%}
    100%{background-position:100% 100%}
    /* 100%{background-position:100% 400%} */
}

.one{
  -webkit-animation: water 100s linear infinite;
}
