*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background-color:rgb(249, 255, 136);
  -webkit-font-smoothing: antialiased;
}

ul{
  list-style-type: none;
  line-height: normal;
  padding:0 25px;
}

li{
  display: inline-block;
  list-style-type: none;

  /* background-color: red; */
}

a{
  text-decoration: none;
  cursor:default;
}

a:visited{
  color:black;
}

a.soso:hover{
    background-color: rgb(255, 159, 254);
  /* background-color: rgb(120, 204, 222); */
}

a.ok:hover{
  /* color:rgb(106, 106, 106); */
  background-color:rgb(102, 246, 255) ;
}

a.nice:hover{
  /* color: rgb(241, 243, 255); */
  /* color:rgb(78, 77, 58); */
  /* color:rgb(255, 248, 71); */
  /* color:rgb(97, 97, 97); */
  color:rgb(255, 255, 255);
  background-color: #c1a1ff;

}

a.special:hover{
  color:rgb(255, 31, 255);
  background-color: rgb(121, 255, 107);


}

.container{
  position:absolute;
  margin:20px;
  padding: 0;
  display: inline-block;
  font-size: 1.5em;
  /* flex-flow: row wrap; */
  /* color:rgb(255, 255, 255); */
}

.title{
  font-family: serif;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding:10px;
  /* margin-right: 5px; */
  /* margin-top:10px; */
  margin:5px 5px;
  display: inline-block;
}

.time{
  font-family: serif;
  position: relative;
  padding:10px;
  margin-right: 5px;
  margin-top:10px;
  display: inline-block;
  color: rgb(85, 85, 85);
  color:red;
}

.head{
  font-family: serif;
  font-size: 1em;
  padding:0 25px;

}

.dot{
  background-color: rgb(255, 253, 117);
  font-size: 10px;
  font-family: sans-serif;
  border-radius: 50%;
  position: relative;
  border:1px solid black;
}

.month{
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  width:25px;
  height:25px;
  top:-100%;
  /* background-color: red; */
}

.number{
  font-size:10px;
  border-radius: 50%;
  width:25px;
  height:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  background-color: rgb(255, 253, 117);
  border:1px solid black;
  color:black;
}

a.hole{
  background-color: white;
}

a.hole:hover{
  background-color: black;
  color:rgb(255, 255, 255);
}

a.blue{
  color:rgb(0, 12, 255);
  /* background-color:rgb(0, 12, 255);s */
}

a.blue:hover{
  background-color:rgb(0, 12, 255);
  /* color:rgb(0, 12, 255); */
  color: white;
}

a.solaris{
  color:rgb(1, 156, 105);
  text-decoration:underline;
  text-decoration-style: dotted;
}


.number:hover{
  /* color:white; */
  /* background-color:red; */
  color:red;
}

/* .update, .end{
  color:red;
} */

.wave{
  background: url("https://ewebdesign.com/wp-content/themes/ewebdesign/assets/img/wave.svg") repeat-x;
  background-position: -45px 100%;
  padding-bottom: 2px;
  background-size: 15px 5px;
  animation: move 15s linear infinite;
 -webkit-animation: move 10s linear infinite;
  animation-play-state: paused;
}

.wave:hover{
  animation-play-state: running;
}

@-webkit-keyframes move {
from {
    background-position: -45px 100%;
  }
  to {
    background-position: 500px 100%;
  }
}
