*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background-color:rgb(249, 255, 136);
}

ul{
  list-style-type: none;
  line-height: normal;
}

li{
  display: inline-block;
  list-style-type: none;
  font-size: 1.5em;
  /* background-color: red; */
}

a{
  text-decoration: none;
  cursor:default;
}

a:visited{
  color:black;
}

a.soso:hover{
    background-color: rgb(255, 159, 254);
  /* background-color: rgb(120, 204, 222); */
}

a.ok:hover{
  /* color:rgb(106, 106, 106); */
  background-color:rgb(102, 246, 255) ;
}

a.nice:hover{
  /* color: rgb(241, 243, 255); */
  /* color:rgb(78, 77, 58); */
  /* color:rgb(255, 248, 71); */
  /* color:rgb(97, 97, 97); */
  color:rgb(255, 255, 255);
  background-color: #c1a1ff;

}

a.special:hover{
  color:rgb(255, 31, 255);
  background-color: rgb(121, 255, 107);


}

.film{
  position: absolute;
  margin:20px;
  padding: 0;
  display: inline-block;
  /* flex-flow: row wrap; */
  /* color:rgb(255, 255, 255); */
}

.title{
  font-family: serif;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding:10px;
  margin-right: 5px;
  margin-top:10px;
  display: inline-block;
}

.time{
  font-family: serif;
  position: relative;
  padding:10px;
  margin-right: 5px;
  margin-top:10px;
  display: inline-block;
  /* color: rgb(85, 85, 85); */
  color:red;
}

.time:hover{
  color:red;
}

.dot{
  background-color: rgb(255, 253, 117);
}

.dot:hover{
  color:
}
