* {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(14, 98, 103); */
  background-color: rgb(205, 255, 250);
  /* font-family: 'Lato', sans-serif; */
  /* font-family: serif; */
  font-family: lft-etica-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
  /* color: rgb(255, 255, 255); */
  color:rgb(44, 64, 252);
}

p {
  margin: 0;

}

.body-box {
  position: absolute;
  margin: 10px;
  /* background-color: rgb(227, 206, 171); */
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}

.img-box {
  position: relative;
  margin: 10px 20px 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* background-color: rgb(38, 199, 215); */
  /* height:40vh; */
}

.images {
  background-color: rgb(232, 200, 213);
  margin-right: 10px;
  height: 35vh;
}

.punc {
  position: relative;
  margin-right: 20px;
  width: 20px;
  /* background-color: rgb(238, 159, 86); */
}

.punc span {
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: red; */
  /* color: rgb(255, 255, 255); */
  font-size: 2em;
}

.text-box{
  margin-bottom: 50px;
}

.text-box span{
  display: inline-block;
  padding:0.5em 0;
  position: relative;
  border: dashed rgb(44, 64, 252);
  border-width: 1px 0 1px 0;
  /* background-color: rgb(205, 162, 50); */
}
