* {
  box-sizing: border-box;
}

body {
  height:100vh;
  width:100vw;
  padding: 0;
  margin: 0;
  /* background */

  /* background: repeating-radial-gradient(#bfbfbf 0%, white 10%, rgb(162, 129, 255) 20%);
  background-size: 100% 8%; */

}

.container{
  display:flex;
  height:100%;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: center;
}

.box{
  width:20em;
  height:30em;
  margin:2em;
  /* background: repeating-radial-gradient(#bfbfbf 0%, white 10%, rgb(162, 129, 255) 20%); */

  background: radial-gradient(#bfbfbf, white, rgb(162, 129, 255));
  display:flex;
  border-radius: 5%;
  border: 1px solid lightgrey;
  animation: gradient 60s linear infinite;
  background-size:30% 60%;
}

@keyframes gradient {
  0% {
    background-position:100% 2000%;
  }
  50% {
    background-position:20% 20%;
  }
  100% {
    background-position:100% 2000%;
  }
}













/*  */

/* .new span{ */
  color:rgb(218, 110, 28);
}

/* .special { */
  color: rgba(138, 246, 42, 1);
  font-style: italic;
}

/* .special:hover{ */
  color:rgba(14, 136, 252, 0.83);
}

/* .special:hover .one{ */
  opacity: 1;
  display: block;
}

/* .img{ */
  /* position:absolute; */
  position: relative;
  top:20%;
  left:10%;
  /* display: none; */
  /* opacity: 0; */
  /* transition: opacity 1s ease; */
  display: none;
}

/* .one{ */
  width:300px;
}

/* .two{ */
  font-size: 100px;
  display: none;
  position: absolute;
  bottom:0%;
  left:50%;

}

/* .special:hover .two{ */
  display: inline-block;
}

/* .object{ */
  background: rgb(73, 162, 240);
  width:100px;
  height:100px;
  border-radius: 50%;
  position: absolute;
  top:80%;
  left:80%;
  /* transition: all 2s ease; */
  transition: border-radius 2s ease,
              background 3s ease,
              transform 1s ease;
}

/* .object:hover{ */
  border-radius: 0;
  background-color: yellow;
  /* transition: 1s ease; */
  transform:rotate(20deg) scale(10);
}
